@font-face{
     font-family:'kont';
     src: url('https://twelvemen.neocities.org/2/repo/KontoraBlack.otf');
    }
    @font-face{
     font-family:'lont';
     src: url('https://twelvemen.neocities.org/2/repo/kontora-light.otf');
    }
    @font-face{
     font-family:'comic';
     src: url('https://twelvemen.neocities.org/2/pizza/COMIC.TTF');
    }
    @font-face{
     font-family:'hont';
     src: url('https://twelvemen.neocities.org/2/repo/Helvetica.ttf');
    }
body {
  background-color: grey;
  color: black;
  font-family: Verdana;
}
    p,h1,h2,h3,h4,h5,h6,li,ul,ol,details,summary{font-family: 'kont';}
    
    
    @font-face{
     font-family:'vont';
     src: url('https://twelvemen.neocities.org/2/pizza/COMIC.TTF');
    }
